#firstParagraph {
            background-color: #dddddd;
        }
		h1 {
            color: green;
			font-size: 30pt;
        }
		#kik {
            background-color: #dddddd;
        }
table, td {
            border: 1px solid blue;
        }
        table {
            border-collapse: collapse;
        }
	  td {
            padding: 20px;
        }